@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 700px) { 
  .sm-button-wide {
    width: 60%;
  }
}
@media only screen and (max-width: 1100px) { 
  .md-flex-col {
    flex-direction: column;
  }
  .md-profile-blocks-res {
    width: 14rem;
    height: 14rem;
    margin-left: auto;
    margin-right: auto;
  }
  .md-info-blocks-res {
    max-width: 34rem;
    max-height: 18rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 16px;
  }
  .md-info-semiblock-res {
    max-width: 36rem;
    max-height: 36rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 16px;
  }
  .md-center-text {
    text-align: center;
  }
}